body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1{
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
color:  #66BFBF;
}
p{
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color:  #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}
hr{
    border: dotted 6px #EAF6F6;
    border-bottom: none;
    margin: 100px auto;
    width: 4%;
}
a{
    color: #0a5c5e;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}
a:hover{
    color: #EAF6f6;
}
.top{
    background-color: #c9f2ea;
    position: relative;
    padding-top: 100px;
}
.middle{
   margin: 100px 0;

}
.bottom{
    background-color: #66BFBF;
    padding: 50px 0  20px;
}
.top-cloud{
    position: absolute;
    right: 260px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    /* right: 521px; */
    left: 500px;
    bottom: 250px;
}

.skill-row{
    margin: 100px auto 100px auto;
    width:50%;
    text-align: left;
    line-height: 2;
}
.contact-message{
    width: 30%;
    margin: 40px auto 60px;
}
.code-img{
    width:25%; 
    float:left;
    margin-right: 30px;
}
.chill-img{
    width:25%; 
    float:right;
    margin-left: 30px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copy{
    font-size: 0.75rem;
    padding:20px 0;
    color:#EAF6F6
  }